{% extends 'base.html.twig' %}

{% block title %}Creating Item...{% endblock %}

{% block body %}

  <div id="container" class="d-flex justify-content-around align-items-center container pt-5"> 
  
    {# <div id="imageContainer" class="bg-primary me-2 mt-2" style="height:60vh; width:40vw;">

       {{ form(imageForm) }}    

    </div> #}

    <div id="dataContainer" class="w-50 ms-3 mt-2">

      {{ form(form) }}

    </div>

  </div>
{% endblock %}
