{% extends 'base.html.twig' %}

{% block title %}Creating Item...{% endblock %}

{% block body %}

  <div id="container" class="d-flex justify-content-around align-items-center"> 
  
    <div id="imageContainer" class="bg-primary" style="height:60vh; width:40vw;">

    {#    {{ form(imageForm) }}   #}  

    </div>

    <div id="dataContainer" class="w-50">

      {{ form(form) }}

    </div>

  </div>
{% endblock %}
