{% extends 'base.html.twig' %}

{% block title %}Profile: {{ app.user.name }}{% endblock %}

{% block body %}

    <div id="container" class="d-flex justify-content-center align-items-center g-col-6 pt-5">
    
        <div id="picture" class="me-5">
        
            {% if app.user.profilePicture != null %}

                <img style="width: 300px; height:300px" class="rounded-circle" src="{{ asset("uploads/user_pictures/" ~ app.user.profilePicture) }}"/> 

            {% endif %}

        </div>

        <div id="data" class="ms-5">
        
            {{ form(editForm) }}
        
        </div>
    
    </div>

{% endblock %}
